# Allowed times when this server is allowed to reboot
# Value is a range of times, e.g. 1am-4:30am
# Multiple ranges can be specified using a comma delimited list
# Default: 3am-7am
REBOOT_TIMES=12am-1am,3am-7am

# Prevent a reboot if any of the following processes are detected running (comma delimited list)
# Can be just the command name (rsync) or a specific command invocation (mysqldump -u root --all-databases)
# Default: (nothing)
PREVENT_PROCESSES=rsync

# How long a user must be idle (in minutes) before they are considered no longer active
# Set to 0 to reboot while users are active
# Default: 600
PREVENT_ACTIVE_USER_SECONDS=300

# This command must return success (exit code 0) or a reboot will be prevented.
# Note that this command should be able to be executed quickly, and repeatedly, as coreboot will
# continually run this every minute while waiting for a reboot to become safe to do.
# Default: (nothing)
PREVENT_IF_SCRIPT_FAILS="[[ -d /tmp ]]"

# The TIME argument to pass to the shutdown command (see `man shutdown`)
# Default of +1, or one minute delay until shutdown commences
SHUTDOWN_TIME=+0

# When this is set and reboot conditions are NOT met, the reboot script will keep checking
# every minute until reboot conditions are met, and start a reboot them.
# Default: 1
DELAY_UNTIL_OKAY=1

# Command(s) to run just prior to issuing the `shutdown -r` command
# Regardless of success or failure of this script, the reboot will commence afterward
# Default: (nothing)
PRE_SHUTDOWN_COMMAND="echo 'About' > /tmp/coreboot.log; echo 'to reboot' >> /tmp/coreboot.log"
