[Unit]
Description=Start conreboot service delayed after boot

[Timer]
# Delay conreboot by 10 minutes to prevent constant reboot in case of misconfiguration or bug
OnBootSec=10min
# If coreboot service exits, ensure the service restarts after a while
# as to not leave service stopped in case coreboot shutdown is canceled
OnUnitInactiveSec=60min

[Install]
WantedBy=timers.target
